@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/*
 0- 600px :      Phone
 600 -900px :    Tablet portrait
 900-1200px:     Tablet landscape
 1200 - 1800px : is where our normal styles apply
 1800 - * : Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER OF MEDIA QUERIS:
1. BASE + TOPOGRAPHY
2. GENERAL LAYOUT + GRID
3. PAGE LAYOUT
4. COMPONENTS

*/

// 1em = 16px convert px to em.

@mixin respond($breakpoint) {
  // 600px
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  // 900px
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 56.25em) and (max-width: 75em) {
      @content;
    }
  }

  //1200px
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  //1800px
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
